{
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "components": "./component",
                "containers": "./containers",
                "providers": "./providers",
                "static": "./static"
            }
        }]
    ]
}